$primaryColor:#587573;
$mainWhite: #fff;
$mainGray: #c9d5c9;
$mainBeige:#e6dcc3;
$mainBeach: #c6bc99;
$mainSpacing: 4px;
$mainTransition: all 0.3s linear;
$mainSpacing: 4px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px;
