@import './variables.scss'; 
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif; 
  color: $mainBeach;
  background: $mainWhite;
  line-height: 1.4;
  font-size: 1rem;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
}

p {
  margin-bottom: 1.25rem;
}

.defaultHero {
  min-height: calc(100vh - 62px);
  background: none,
    url("../images/pic2.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white,
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $mainSpacing;
  color: $mainWhite;
  border: 2px solid $mainWhite;
  padding: 0.4rem 1.6rem;
  display: inline-block;
  transition: $mainTransition;
  cursor: pointer;
}

.btn-white:hover {
  background: $mainWhite;
  color: $primaryColor;
}

.btn-primary {
  background: $primaryColor;
  color: $mainWhite;
  border: 2px solid $primaryColor;
}

.btn-primary:hover {
  background: transparent;
  color: $primaryColor;
}